@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@{
    ClaimsPrincipal claimsUser = Context.User;
}

<ul class="navbar-nav">
    @if (claimsUser.Identity != null && claimsUser.Identity.IsAuthenticated)
    {
        <li class="nav-item dropdown">
            <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                @User.Identity?.Name
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <div class="d-flex align-items-center">
                        <i class="bi bi-gear ms-2"></i>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="StaffProfile">Profile</a>
                    </div>
                </li>
                <li class="dropdown-divider"></li>
                <li>
                    <div class="d-flex align-items-center">
                        <i class="bi bi-box-arrow-right ms-2"></i>
                        <a class="dropdown-item" asp-area="" asp-controller="Access" asp-action="Logout">Logout</a>
                    </div>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item dropdown">
            <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <div class="d-flex align-items-center">
                        <i class="bi bi-box-arrow-in-left ms-2"></i>
                        <a class="dropdown-item" asp-area="" asp-controller="Access" asp-action="Login">Login</a>
                    </div>
                </li>
                <li class="dropdown-divider"></li>
                <li>
                    <div class="d-flex align-items-center">
                        <i class="bi bi-pencil-square ms-2"></i>
                        <a class="dropdown-item" asp-area="" asp-controller="###" asp-action="###">Register</a> @*Implement Later*@
                    </div>
                </li>
            </ul>
        </li>
    }
</ul>
