@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@{
    ClaimsPrincipal claimsUser = Context.User;
}

<ul class="navbar-nav">
    @if (claimsUser.Identity != null && claimsUser.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="StaffProfile">Hello @User.Identity?.Name!</a> @*Implement Later*@
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Access" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="###" asp-action="###">Register</a> @*Implement Later*@
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Access" asp-action="Login">Login</a>
        </li>
    }
</ul>
