@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@{
    ClaimsPrincipal claimsUser = Context.User;
}

@if (claimsUser.Identity != null && claimsUser.Identity.IsAuthenticated && claimsUser.HasClaim(c => c.Type == ClaimTypes.Role && c.Value == "Manager"))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="StaffManagement" asp-action="Index">Staff Management</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Manager" asp-action="ViewReports">View Reports</a> @*Implement Later*@
    </li>
}
else if (claimsUser.Identity != null && claimsUser.Identity.IsAuthenticated && claimsUser.HasClaim(c => c.Type == ClaimTypes.Role && c.Value == "Sales"))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="###" asp-action="###"></a> @*Implement Later*@
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Access" asp-action="Login"></a>
    </li>
}
else if (claimsUser.Identity != null && claimsUser.Identity.IsAuthenticated && claimsUser.HasClaim(c => c.Type == ClaimTypes.Role && c.Value == "Guard"))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="###" asp-action="###"></a> @*Implement Later*@
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Access" asp-action="Login"></a>
    </li>
}
else
{

}
