@model SWP391_MiniStore.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangeGuardPassword";
}

<h1>ChangeGuardPassword</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group mb-3">
                <label asp-for="CurrentPassword" class="control-label">Current Password</label>
                <input type="password" asp-for="CurrentPassword" class="form-control" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@@$%^&*-]).{8,20}$" required
                       title="Password must meet the following requirements: At least 8 characters long, at most 20 characters long, contains at least 1 uppercase letter, contains at least 1 lowercase letter, contains at least 1 digit, and contains at least 1 special character (#, ?, !, @@, $, %, ^, &, *, -)." />
            </div>
            <div class="form-group mb-3">
                <label asp-for="NewPassword" class="control-label">New Password</label>
                <input type="password" asp-for="NewPassword" class="form-control" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@@$%^&*-]).{8,20}$" required
                       title="Password must meet the following requirements: At least 8 characters long, at most 20 characters long, contains at least 1 uppercase letter, contains at least 1 lowercase letter, contains at least 1 digit, and contains at least 1 special character (#, ?, !, @@, $, %, ^, &, *, -)." />
            </div>
            <div class="form-group mb-3">
                <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
                <input type="password" asp-for="ConfirmPassword" class="form-control" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@@$%^&*-]).{8,20}$" required
                       title="Password must meet the following requirements: At least 8 characters long, at most 20 characters long, contains at least 1 uppercase letter, contains at least 1 lowercase letter, contains at least 1 digit, and contains at least 1 special character (#, ?, !, @@, $, %, ^, &, *, -)." />
            </div>
            <div class="form-group mb-3">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <input type="submit" value="Change Password" class="btn btn-primary" asp-controller="Guard" asp-action="ChangeGuardPassword" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Guard" asp-action="Index">Back to List</a>
</div>
