@model SWP391_MiniStore.Models.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>

    <link rel="apple-touch-icon" sizes="180x180" href="~/images/logos/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/logos/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/logos/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <link rel="shortcut icon" type="image/png" href="~/images/logos/favicon.png" />
    <link rel="stylesheet" href="~/css/styles.min.css" />
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0">
                            <div class="card-body">
                                <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                    <img src="~/images/logos/MiniStore-Logo.png" width="200" alt="">
                                </a>
                                <form method="post">
                                    <div class="mb-3">
                                        <label for="EmailOrUsername" class="form-label">Email or Username</label>
                                        <input type="text" class="form-control" asp-for="EmailOrUsername">
                                    </div>
                                    <div class="mb-4">
                                        <label for="Password" class="form-label">Password</label>
                                        <input type="password" class="form-control" asp-for="Password">
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-4">
                                        <div class="form-check">
                                            <input class="form-check-input primary" type="checkbox" value="" id="flexCheckChecked" checked>
                                            <label class="form-check-label text-dark" asp-for="RememberMe">
                                                Remeber Me
                                            </label>
                                        </div>
                                        <a class="text-primary fw-bold" href="./index.html">Forgot Password ?</a>
                                    </div>
                                    <div>
                                        @Html.ValidationSummary(true, "", new{ @class = "text-danger"})
                                        <input type="submit" value="Login" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" asp-controller="Access" asp-action="Login" />
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <p class="fs-4 mb-0 fw-bold">New to MiniStore?</p>
                                        <a class="text-primary fw-bold ms-2" href="./authentication-register.html">Create an account</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src= "~/js/site.js" asp-append-version="true"></script>"
</body>

</html>