@model SWP391_MiniStore.Models.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SWP391_MiniStore.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container mt-5">
        <h1>Login</h1>
        <hr />
        <form method="post" class="mt-5">
            <div class="form-group mb-3">
                <label asp-for="EmailOrUsername" class="control-label">Email Or Username</label>
                <input type="text" asp-for="EmailOrUsername" class="form-control" style="max-width: 400px;" required />
            </div>
            <div class="form-group mb-3">
                <label asp-for="Password" class="control-label">Password</label>
                <input type="password" asp-for="Password" class="form-control" style="max-width: 400px;" required />
            </div>
            <div class="form-group mb-3">
                <label asp-for="RememberMe" class="control-label">Remember Me</label>
                <input type="checkbox" asp-for="RememberMe" />
            </div>
            <div class="form-group mb-3">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <input type="submit" value="Login" class="btn btn-primary" asp-controller="Access" asp-action="Login" />
            </div>
        </form>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
